###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################
# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.nextcloud/data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### MARIADB ###############################################
MARIADB_DATABASE=default
MARIADB_USER=default
MARIADB_PASSWORD=secret
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d

### HTCONDOR ###############################################
SUBMIT_USER=www-data
GID=1000
UID=1000
PASS=123456

### LETSENCRYPT  ###########################################
VIRTUAL_HOST=VIRTUAL_HOST
LETSENCRYPT_HOST=LETSENCRYPT_HOST
LETSENCRYPT_EMAIL=LETSENCRYPT_EMAIL

### RABBITMQ ##############################################

RABBITMQ_NODE_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HTTP_HOST_PORT=15672
RABBITMQ_MANAGEMENT_HTTPS_HOST_PORT=15671
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest